@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <!--logo section-->
<section class="logo-section">
    <div class="container">
        @{
            var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
            if (brandImages != null)
            {
                foreach (var entry in brandImages)
                {
                    <img src="@entry.MediaUrl()" alt="" />
                }
            }
    }
    </div>
</section>

