@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!--footer-->
   <footer>        
        <section class="footer-info">
            <div class="container">
                <div class="company-info">
                    <img src="~/static/logos/logotype-white.svg" alt="crito_logo" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos beatae nisi sed sint nemo, consequuntur quis suscipit quas provident necessitatibus excepturi molestias. Quidem earum deleniti culpa, debitis tempora voluptate praesentium.</p>
                </div>
                <div class="links">
                    <div class="box">
                        <h2>Company</h2>
                        <a href="/about" >About</a>
                        <a href="/features" >Features</a>
                        <a href="/work" >Works</a>
                        <a href="/career" >Career</a>
                    </div>
                    <div class="box">
                        <h2>Help</h2>
                        <a href="/support" >Customer Support</a>
                        <a href="/delivery" >Delivery Details</a>
                        <a href="/agreements/terms" >Terms & Conditions</a>
                        <a href="/agreements/privacy" >Privacy Policy</a>
                    </div>
                    <div class="box">
                        <h2>Resources</h2>
                        <a href="/free/ebook" >Free eBooks</a>
                        <a href="/tutorials/development" >Development Tutorial</a>
                        <a href="/guides/how-to-blog" >How to -Blog</a>
                        <a href="/https://youtube.com" target="_blank" >Youtube Playlist</a>
                    </div>
                    <div class="box">
                        <h2>Link</h2>
                        <a href="/free/ebook" >Free eBooks</a>
                        <a href="/tutorials/development" >Development Tutorial</a>
                        <a href="/guides/how-to-blog" >How to -Blog</a>
                        <a href="/https://youtube.com" target="_blank" >Youtube Playlist</a>
                    </div>
                </div>
                
            </div>
            <hr>
            <div class="reserved">
                <div class="container">
                    <div><p>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p></div>
                    <div class="social-media">
                        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://instaram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i> </a>               
                    </div>
                </div>
            </div>
        </section>
    </footer>