@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!--meet our team section-->
<section class="meet-team-client-says-section">
    <div class="container">
        <div class="meet-team">
            <div class="title">
                <div class="text">
                    <h4 class="red-title">Meet Our Team</h4>
                    <h2>Experience Team Members</h2>
                </div>
                <a href="our-team.html" class="btn-yellow">Browse Team</a>
            </div>
            <div class="people">
                <div class="box">
                    <img src="images/home-page/teammembers/kristine_palmer.png" alt="Kristine Palmer" />
                    <h3>Kristine Palmer</h3>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="box">
                    <img src="images/home-page/teammembers/mark_aubri.png" alt="Mark Aubri" />
                    <h3>Mark Aubrir</h3>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="box">
                    <img src="images/home-page/teammembers/kimberly_hansen.png" alt="Kimberly Hansen" />
                    <h3>Kimberly Hansen</h3>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="box">
                    <img src="images/home-page/teammembers/justin_willoman.png" alt="Justin Willoman" />
                    <h3>Justin Willoman</h3>
                    <p>Chef Operation Officer</p>
                </div>
            </div>
        </div>
        <div class="client-say">
            <h4 class="red-title">Testimorial</h4>
            <h2>What Our Cilent Says</h2>
            <div class="rates">
                <div class="one-rate-box">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsum quas quos tenetur, obcaecati excepturi pariatur repudiandae. Maiores, enim esse, eligendi ipsa, in praesentium quaerat adipisci sit nihil quisquam aliquam?</p>
                    <div class="people">
                        <img src="images/home-page/cassandra.png" alt="Cassandra Warren" />
                        <div class="info">
                            <h3>Cassandra Warren</h3>
                            <p>Business Manager,Dorfus</p>
                        </div>
                        
                    </div>
                </div>
                <div class="one-rate-box">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsum quas quos tenetur, obcaecati excepturi pariatur repudiandae. Maiores, enim esse, eligendi ipsa, in praesentium quaerat adipisci sit nihil quisquam aliquam?</p>
                    <div class="people">
                        <img src="images/home-page/amanda.png" alt="Cassandra Warren" />
                        <div class="info">
                            <h3>Cassandra Warren</h3>
                            <p>Business Manager,Dorfus</p>
                        </div>
                    </div>
                </div>
                <div class="one-rate-box">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsum quas quos tenetur, obcaecati excepturi pariatur repudiandae. Maiores, enim esse, eligendi ipsa, in praesentium quaerat adipisci sit nihil quisquam aliquam?</p>
                    <div class="people">
                        <img src="images/home-page/jack.png" alt="Cassandra Warren" />
                        <div class="info">
                            <h3>Cassandra Warren</h3>
                            <p>Business Manager,Dorfus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-rates">
                <a href="rates.html" class="btn-black">All Rates <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
        
    </div>
</section>