@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav class="nav-section">
    <div class="container">
        <a href="home.html"><img class="image-logo" src="images/logos/logotype.svg" alt="crito_logo" /></a>
        <button class="menu-bars"><i class="fa-regular fa-bars"></i></button>
        <div class="menu">
            <div class="top-menu">
                <div class="company-info">
                    <div class="content-box"><i class="fa-regular fa-phone-volume"></i>+46(8)1214700</div>
                    <div class="content-box"><i class="fa-regular fa-envelope"></i>info@crito.com</div>
                    <div class="content-box last"><i class="fa-regular fa-location-dot"></i>Sveavagen 31, 111 34 STOCKHOLM</div>
                </div>
                <div class="social-media">
                    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="main-menu">
                <nav>
                    <a class="active" href="home.html">Home</a>
                    <a href="service.html">Service</a>
                    <a href="news.html">News</a>
                    <a href="contact.html">Contact</a>
                </nav>
                
                <a href="login.html" class="btn-yellow">Login <i class="fa-regular fa-arrow-up-right"></i></a>
               
            </div>
        </div>
    </div>  
</nav>