@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!--newsletter section-->
<section class="newsletter-section">
<div class="container">
    <h2>@Model.Value("newsletterTitle")</h2>
    <div class="subscribe">
        <input value="username@domain.com" aria-label="Email" class="input"/>
        <button type="submit" class="btn-yellow">Subscribe<i class="fa-regular fa-arrow-up-right"></i></button>
    <div class="subscribe">
</div>
</section>     