@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServiceDetailPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_LayoutWithBreadcrumb.cshtml";
}

  <section class="specific-article">
      <div class="container">
        <div class="article">
          <h2@Model.Value("serviceTitle")</h2>
         
         
          <p>
           @Model.Value("serviceDescription")
          </p>
        </div>
      </div>
    </section>